*,
*::before,
*::after {
  box-sizing: border-box;
}

body,article, p, code{
    word-break: break-word;
    overflow-wrap: break-word;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

@media(max-width: 600px){
    article{
        padding: 20px 15px;
        font-size: 16px;
    }
    h1{
        font-size: 32px;
    }
    #xingamento {
        font-size: 20px;
      }
    
      button {
        font-size: 16px;
        padding: 10px 20px;
        max-width: 100%;
      }
    }


body {
    background: linear-gradient(to right, #0f0f0f, #1a1a1a);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    padding: 50px 20px;
    color: #d1d5db; 
}

h1 {
    font-size: 48px;
    color: #a78bfa; 
    text-shadow: 2px 2px 5px #000;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    color: #9ca3af;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 30px;
}

article {
    background-color: #181818;
    padding: 30px;
    border-radius: 15px;
    max-width: 800px;
    margin: 0 auto 50px auto;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
    color: #e5e5e5;
}

section {
    margin-top: 30px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #8b5cf6;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 0 10px #8b5cf6;
}

.botao-container{
    margin-bottom: 30px;
}

button:hover {
    background-color: #7c3aed;
        transform: scale(1.05);
    box-shadow: 0 0 15px #a78bfa;
}

#xingamento {
    margin-top: 25px;
    font-size: 26px;
    color: #f43f5e; 
    font-weight: bold;
    min-height: 60px;
    text-shadow: 1px 1px 2px #000;
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
}

